h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PoppinsBold";
  letter-spacing: 0.03em;
  color: #043146;
}
p {
  font-family: "PoppinsRegular";
  letter-spacing: 0.03em;
  color: #043146;
}
.slider-landing {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  background: #fff;
  clear: both;
  border-bottom: 1px solid #f1f2f2;
}
.gotowebsite a {
  display: inline-block;
}
.gotowebsite a {
  background: #1585a4;
  color: #fff;
  padding: 7px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "PoppinsMedium";
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.gotowebsite a:hover {
  background: #000;
}
.gotowebsite {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
  gap: 30px;
}
.slider-hding {
  background: #ff8503;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
.slider-hding h2 {
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  font-family: "PoppinsBold";
}
.slider-hding h2 span {
  color: #000;
  font-family: "PoppinsBold";
}
.slider-hding p {
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding-bottom: 20px;
  font-family: "PoppinsRegular";
  letter-spacing: 0.03em;
}
.buildText {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 100%;
}
.buildText a {
  background: #0f79be;
  color: #fff;
  padding: 15px 40px;
  font-family: "PoppinsMedium";
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin: 0;
  border-radius: 8px;
  text-align: center;
}
.buildText a:hover {
  text-decoration: none;
  color: #fff !important;
}
.ltn__list-item-half li img {
  padding: 5px;
  margin-right: 10px;
}
.ltn__list-item-half li {
  font-size: 16px;
}
.about-sec {
  margin-top: 0;
}

.skill-cover {
  position: relative;
  background: #f8f8f8;
  z-index: 1;
}
.skillbox h3 {
  font-size: 16px;
  font-family: "PoppinsMedium";
  color: #000;
  letter-spacing: 0.03em;
  margin: 15px 0 0;
  min-height: 34px;
}
.skillbox {
  position: relative;
  text-align: center;
  background: #fff;
  margin: 0 0 30px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
}
.howitwork {
  background: #0f79be;
  position: relative;
  z-index: 1;
}
.whitetext h2,
.whitetext p {
  color: #fff;
}
.skill-cover .skillbox {
  box-shadow: none;
  background: #f8f8f8;
}
.iconbox {
  min-height: 110px;
  max-height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconbox img {
  width: 100px;
}
.ftr-section {
  background: #d1edf6;
  position: relative;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.support-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 16px;
  padding: 10px 23px;
  font-family: "PoppinsRegular";
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #043146;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.support-list li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 15px;
  left: 0;
  background-image: url(../assets/image/icon/arrow_15.png);
  background-repeat: no-repeat;
}

.support-list li:hover {
  background-color: rgba(10, 30, 50, 0.03);
  padding-left: 15px;
}
.ftr-box h5 {
  font-size: 23px;
  color: #000;
  font-family: "PoppinsBold";
  text-transform: capitalize;
  letter-spacing: 0.03em;
  min-height: 50px;
}
.ftrlocation.ftr-box i {
  color: #043146 !important;
}
.ftr-box p a {
  padding: 0 0 0 15px;
  font-size: 16px;
  font-family: "PoppinsRegular";
  color: #043146 !important;
  letter-spacing: 0.03em;
}
.ftr-box p {
  display: flex;
  margin: 0 0 15px;
  transition: all 0.2s ease-out;
}
.ftr-box p:hover {
  background-color: rgba(10, 30, 50, 0.03);
  padding-left: 15px;
}
.footer-btm {
  position: relative;
  background: #0f79be;
  padding: 10px 0;
}
.copyright p {
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: inherit;
  letter-spacing: 0.03em;
}
.social-icons li {
  display: inline-block;
  margin: 0 0 0 10px;
}
.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.placementbox img {
  width: 120px;
  transition: all 0.3s ease 0s;
}
.placementbox:hover img {
  transform: scale(0.9, 0.9);
}

.placementbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 0 25px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 15%);
  border-radius: 6px;
  background: #fff;
  width: 100%;
  padding: 30px 25px;
  margin-bottom: 25px;
  overflow: hidden;
  clear: both;
  position: relative;
  min-height: 180px;
  max-height: 180px;
  transition: all 0.3s ease 0s;
}
.download {
  background: #0f79be;
  position: relative;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 35px;
}
.download h2 {
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  line-height: 45px;
}

/*Start Call Back*/
.callbackButton {
  text-align: center;
}
.callbackButton button:hover {
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}

.callbackButton .open-modal-btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #0f79be;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "PoppinsMedium";
  letter-spacing: 0.03em;
  font-size: 20px;
}

.callbackButton .modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.callbackButton .modal-content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}
.callbackButton .modal-content h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "PoppinsMedium";
}

.callbackButton .modal-content input,
.callbackButton .modal-content button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}
.callbackButton .modal-content button {
  background-color: #0f79be;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "PoppinsMedium";
  text-transform: capitalize;
  letter-spacing: 0.03em;
}

.callbackButton .close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.callbackButton button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
/* Responsive */
@media (max-width: 500px) {
  .callbackButton .modal-content {
    width: 90%;
    padding: 20px;
  }
}

/*End Call Back*/
.fresherJob {
  position: relative;
  background: #fff;
}
.fresherBox {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 35px;
  padding: 0px 35px;
  border-bottom: 3px solid transparent;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  min-height: 215px;
  align-items: center;
}
.fresherBox img {
  width: 70px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
}
.fresherBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0 35px;
  padding: 0 0 35px;
}
.fresherCont {
  margin-left: 20px;
}
.fresherCont p {
  text-align: justify;
  font-size: 15px;
  color: #2f2f2f;
  letter-spacing: 0.03em;
  line-height: 25px;
  margin: 0;
  padding: 0;
}
.certificateProgram {
  position: relative;
  background: #f0f8ff;
}
.certificateWidth {
  width: 95%;
  margin: 0 0 auto;
}
p.certip {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: justify;
}
.combine-feature2_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.combine-feature2_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 0 0;
}
.f-feature-icon-wrapper-white-2 {
  background: #fff;
  padding: 6px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 14px 0px;
  margin: 0 20px 0 0;
}
.combine-text-size-regular {
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #043146;
  text-align: justify;
  font-family: "PoppinsRegular";
}
.cerfificateImage img {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 14px 0px;
  border-radius: 12px;
}
.studentParticipation {
  position: relative;
  background: #fff;
  z-index: 1;
}
/*Video section*/
.projectVideo .fresherBox {
  padding: 0;
  margin: 0 0 25px;
}
.box-video {
  position: relative;
  width: 100%;
  margin: 0 auto 20px auto;
  cursor: pointer;
  overflow: hidden;
}

.box-video .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.bg-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.box-video .bt-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.box-video .bt-play:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  margin: -12px 0 0 -6px;
  border: solid transparent;
  border-left-color: #000;
  border-width: 12px 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.box-video:hover .bt-play {
  transform: scale(1.1);
}

.box-video.open .bg-video {
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.6s 0.8s;
  transition: all 0.6s 0.8s;
}

.box-video.open .video-container {
  opacity: 1;
  -webkit-transition: all 0.6s 0.8s;
  transition: all 0.6s 0.8s;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0;
  z-index: 1;
  padding-bottom: 56.27198%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*End Video section*/
/*Start Feature Section*/
.features-2 {
  background-color: #eef4fc;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.icon-box {
  padding: 20px 15px;
  border-radius: 7px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  text-align: center;
  /* margin-top: 30px; */
  transition: all 0.4s ease-in-out;
}
.icon-box .icon {
  color: #0f79be;
  margin-bottom: 15px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.icon-box h4 {
  color: #211e3b;
  text-transform: capitalize;
  font-size: 16px;
  margin-top: 10px;
  line-height: 25px;
  min-height: 50px;
}
.icon-box:hover {
  background-color: #0f79be;
  box-shadow: 0px 10px 60px 0px rgba(14, 117, 147, 0.49);
}
.icon-box:hover .icon {
  color: #fff;
}
.icon-box:hover h4 {
  color: #fff;
}
.features-2 .theme-btn {
  color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #0f79be;
  border: 1px solid #0f79be;
  box-sizing: border-box;
  font-family: "PoppinsMedium";
  display: inline-block;
  margin: 30px 0 0;
}
.features-2 .theme-btn span {
  margin-left: 5px;
}
.features-2 .theme-btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: inherit;
  color: #0f79be;
  box-shadow: 0px 10px 30px 0px rgba(14, 117, 147, 0.49);
}
.section-title span {
  font-family: "PoppinsBold";
}
.section-title h2 {
  font-family: "PoppinsMedium";
  line-height: 60px;
}
.icon-box img.with-hover {
  display: none;
}
.icon-box:hover img.with-hover {
  display: inline-block;
}
.icon-box:hover img.without-hover {
  display: none;
}
/*End Feature Section*/
/*Start FAQ*/
.faq {
  background: url(../image/bg/f-bg.jpg) no-repeat;
  background-size: cover;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
}
.faq:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(243, 248, 251, 0.97);
}

.faqimg {
  width: 85%;
  margin: 0 auto;
}
.faq .accordion {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* .faq .label:hover {
  color: #0f79be;
} */
.faq .label::before {
  content: "+";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 19px;
}
.faq .content {
  font-size: 16px;
  font-family: "PoppinsRegular";
  background-color: transparent;
  overflow: auto;
  color: #616161;
  height: 0;
  text-align: left;
  position: relative;
  transition: all 1s ease;
  line-height: 25px;
  letter-spacing: 0.03em;
}
.content ul li {
  font-size: 16px;
  font-family: "LexendRegular";
  background-color: transparent;
  overflow: auto;
  color: #616161;
  height: 0;
  text-align: left;
  position: relative;
  transition: all 1s ease;
  line-height: 25px;
  letter-spacing: 0.01em;
  display: table;
}
.faq .content::-webkit-scrollbar {
  display: none;
}
.faq .box.active .content {
  height: 120px;
  padding: 10px;
}
.faq .box.active .label::before {
  content: "-";
}
/*End FAQ*/

/*Start Have Question */
.haveQuestion {
  background: #fff;
}
.haveQuestion .form-screen {
  background: #fff;
  min-height: 100%;
  padding: 24px;
  border: 0;
  width: 100%;
  border-radius: 30px;
  box-shadow: none;
}
.haveQuestion .form-screen .basic-container label {
  font-size: 18px;
  color: #000;
  margin: 10px 0 10px;
  font-family: "PoppinsRegular";
}
.haveQuestion .fFotr {
  background: #fff;
  width: auto;
  border-top: 1px solid #e8e9e9;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.haveQuestion .hAdjust {
  position: relative;
  height: auto;
  padding: 20px;
  margin-bottom: 0px;
  width: 100%;
}
.haveQuestion .form-screen .form-group label {
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  color: #000;
  margin: 0 0 7px;
  font-family: "PoppinsRegular";
}
.haveQuestion .form-screen input.form-control {
  font-size: 18px;
  display: block;
  width: 100%;
  height: calc(2.25rem + 6px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-family: "PoppinsRegular";
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.haveQuestion .form-group {
  margin-bottom: 15px;
}
.haveQues-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/*End Have Question */

/* Responsive Styles */
/*  Smartphones (portrait and landscape) */

@media only screen and (min-device-width: 300px) and (max-device-width: 575px) {
      .slider-center {
        top: 40% !important;
    }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .gotowebsite span.phnspan {
    display: none;
  }
  .toglecont .open-call {
    padding: 7px 10px !important;
    border-radius: 5px !important;
    font-size: 12px !important;
  }
  .gotowebsite {
    gap: 6px;
  }
  .slider-landing {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
  #wrap {
    right: 0 !important;
  }
  #wrap .content {
    width: auto !important;
  }
  #wrap .form-screen .title {
    padding: 20px 10px !important;
  }
  .form-screen .talert {
    font-size: 14px !important;
  }
  .form-screen .more {
    font-size: 14px !important;
  }
  .gotowebsite span {
    margin: 0 !important;
  }
  .close-call {
    right: 4px !important;
    top: 4px !important;
  }
  .width80 {
    width: 90% !important;
  }
  .slideshow-nav {
    display: none;
  }
  .slider-center {
    /* width: 100% !important; */
    left: 50% !important;
    top: 30% !important;
  }
  .gotowebsite a {
    padding: 5px 5px;
    font-size: 14px;
  }
  .slider-hding h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .slider-hding p {
    font-size: 16px;
  }
  .skillbox {
    margin: 0 0 5px;
    padding: 10px;
  }
  .skillbox h3 {
    margin: 6px 0 0;
    min-height: 0;
  }
  .howitwork .skillbox {
    margin: 0 0 20px;
  }
  .ftr-box h5 {
    font-size: 16px;
    min-height: auto;
    margin: 15px 0 10px;
  }
  .footer-btm {
    text-align: center;
  }
  .social-icons {
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
  }
  .bg1::before,
  .bg2::before,
  .bg3::before,
  .bg4::before {
    top: 0px !important;
  }
  .mt-80 {
    margin-top: 20px !important;
  }
  /*Slider*/
  .mb-20 {
    margin-bottom: 7px;
  }
  .slide-text .topP {
    font-size: 16px;
  }
  .slide-text h2 {
    font-size: 18px;
  }
  .slide-text .coDetail {
    letter-spacing: 0.02em;
    font-size: 15px;
    text-align: justify;
    line-height: 23px;
  }
  .course-features {
    gap: 10px 5px;
  }
  .mtb-40 {
    margin: 10px 0;
  }
  .slider-hding h2 span {
    display: block;
  }
  .buildText a {
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 4px;
  }
  .icon-box h4 {
    font-size: 13px;
    margin-top: 4px;
    line-height: 20px;
    min-height: 60px;
  }
  .icon-box {
    padding: 10px;
    margin-top: 20px;
  }
  .section-title h2 {
    line-height: 30px;
    font-size: 20px;
  }
  .download h2 {
    font-size: 20px;
    margin: 0 0 15px;
    line-height: 30px;
  }
  .callbackButton .open-modal-btn {
    display: block;
    width: 100%;
  }
  .fresherBox {
    margin: 0 0 10px;
    padding: 0 0 15px;
    flex-direction: column;
  }
  .fresherCont {
    margin-left: 0;
  }
  .fresherBox img {
    width: 41px;
    padding: 4px;
  }
  p.certip {
    font-size: 15px;
    line-height: 25px;
  }
  .combine-text-size-regular {
    font-size: 15px;
  }
  .combine-feature2_item {
    margin: 15px 0 0;
    flex-direction: column;
  }
  .cerfificateImage {
    margin: 20px 0 0;
  }
  .haveQuestion .hAdjust {
    padding: 0;
  }
  .haveQuestion .form-screen {
    padding: 0;
    border: 0;
  }
  .haveQuestion .form-screen input.form-control {
    font-size: 14px;
  }
  .haveQuestion .form-screen .form-group label {
    font-size: 14px;
  }
  .haveQuestion .fFotr {
    padding: 20px 0;
  }
  .faq .box.active .content {
    height: auto;
    padding: 10px;
  }
  .faq .content {
    font-size: 14px;
  }
  .faq .label {
    font-size: 14px;
  }
  .floating-icon {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
  .whatsapp {
    bottom: 65px !important;
    left: 10px !important;
  }
  .call {
    bottom: 10px !important;
    left: 10px !important;
  }
  .ftr-box p a {
    padding: 0;
  }
  #wrap {
    display: none;
  }
  .hAdjust {
    height: auto !important;
    margin-bottom: 0 !important;
  }
}

/*  (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .gotowebsite span.phnspan {
    display: none;
  }
  .toglecont .open-call {
    padding: 10px 15px !important;
    border-radius: 6px !important;
    font-size: 14px !important;
  }
  .gotowebsite {
    gap: 6px;
  }
  .slider-landing {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
  #wrap {
    right: 0 !important;
  }
  #wrap .content {
    width: auto !important;
  }
  #wrap .form-screen .title {
    padding: 20px 10px !important;
  }
  .form-screen .talert {
    font-size: 14px !important;
  }
  .form-screen .more {
    font-size: 14px !important;
  }
  .gotowebsite span {
    margin: 0 !important;
  }
  .close-call {
    right: 10px !important;
    top: 10px !important;
  }
  .width80 {
    width: 90% !important;
  }
  .slideshow-nav {
    display: none;
  }
  .slider-center {
    /* width: 100% !important; */
    left: 52% !important;
    top: 50% !important;
  }
  .gotowebsite a {
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 6px !important;
  }
  .slider-hding h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 80%;
  }
  .slider-hding p {
    font-size: 16px;
  }
  .skillbox {
    margin: 0 0 5px;
    padding: 10px;
  }
  .skillbox h3 {
    margin: 6px 0 0;
    min-height: 0;
    font-size: 14px;
  }
  .howitwork .skillbox {
    margin: 0 0 20px;
  }
  .ftr-box h5 {
    font-size: 16px;
    min-height: auto;
    margin: 15px 0 10px;
  }
  .footer-btm {
    text-align: center;
  }
  .social-icons {
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
  }
  .bg1::before,
  .bg2::before,
  .bg3::before,
  .bg4::before {
    top: 0px !important;
  }
  .mt-80 {
    margin-top: 20px !important;
  }
  /*Slider*/
  .mb-20 {
    margin-bottom: 7px;
  }
  .slide-text .topP {
    font-size: 16px;
  }
  .slide-text h2 {
    font-size: 30px !important;
  }
  .slide-text .coDetail {
    letter-spacing: 0.02em;
    font-size: 15px !important;
    text-align: justify;
    line-height: 23px !important;
  }
  .course-features {
    gap: 10px 5px;
  }
  .mtb-40 {
    margin: 10px 0 !important;
  }
  .buildText a {
    padding: 8px 17px;
    font-size: 15px;
    border-radius: 4px;
  }
  .icon-box h4 {
    font-size: 15px;
    margin-top: 4px;
    line-height: 20px;
    min-height: 45px;
  }
  .icon-box {
    padding: 10px;
    margin-top: 20px;
  }
  .section-title h2 {
    line-height: 30px;
    font-size: 20px;
  }
  .download h2 {
    font-size: 20px;
    margin: 0 0 15px;
    line-height: 30px;
  }
  .callbackButton .open-modal-btn {
    display: block;
    width: 100%;
  }
  .fresherBox {
    margin: 0 0 10px;
    padding: 0 0 15px;
    flex-direction: column;
  }
  .fresherCont {
    margin-left: 0;
  }
  .fresherBox img {
    width: 41px;
    padding: 4px;
  }
  p.certip {
    font-size: 15px;
    line-height: 25px;
  }
  .combine-text-size-regular {
    font-size: 15px;
  }
  .combine-feature2_item {
    margin: 15px 0 0;
  }
  .cerfificateImage {
    margin: 20px auto 0;
    width: 70%;
  }
  .haveQuestion .hAdjust {
    padding: 0;
  }
  .haveQuestion .form-screen {
    padding: 0;
    border: 0;
  }
  .haveQuestion .form-screen input.form-control {
    font-size: 14px;
  }
  .haveQuestion .form-screen .form-group label {
    font-size: 14px;
  }
  .haveQuestion .fFotr {
    padding: 20px 0;
  }
  .faq .box.active .content {
    height: auto;
    padding: 10px;
  }
  .floating-icon {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
  /* .whatsapp {
    bottom: 120px !important;
    left: 10px !important;
  }
  .call {
    bottom: 60px !important;
    left: 10px !important;
  } */
  .ftr-box p a {
    padding: 0;
    font-size: 14px;
  }
  #wrap {
    display: none;
  }
  .hAdjust {
    height: auto !important;
    margin-bottom: 0 !important;
  }
  .course-metrics {
    gap: 12px !important;
    padding: 15px !important;
  }
  .metric-heading {
    font-size: 16px !important;
  }
  .metric-sub-heading {
    font-size: 15px !important;
  }
  .mb-40 {
    margin-bottom: 20px !important;
  }
  .webinar-text p {
    font-size: 16px !important;
  }
  .formAlign {
    justify-content: center !important;
    margin: 30px 0 0;
  }
  .form-screen {
    width: auto !important;
  }
  .features-2 .theme-btn {
    padding: 10px 40px;
    margin: 0;
  }
  .registerstack {
    display: block;
    text-align: center;
  }
  .placementbox {
    margin: 0 0 26px;
    padding: 8px 5px;
    margin-bottom: 25px;
    min-height: 97px;
    max-height: 98px;
  }
  .haveQues-image {
    width: 40%;
    margin: 0 auto;
  }
  .ftrlogo {
    width: 60%;
  }
  .ftr-box p {
    font-size: 14px;
  }
  .support-list li {
    font-size: 14px;
    padding: 8px 20px;
  }
  .form-screen .basic-container label {
    font-size: 15px !important;
  }
}
/*  (portrait and landscape) */
@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
  .gotowebsite span.phnspan {
    display: none;
  }
  .toglecont .open-call {
    padding: 10px 15px !important;
    border-radius: 6px !important;
    font-size: 14px !important;
  }
  .slider-landing {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
  #wrap {
    right: 0 !important;
  }
  #wrap .content {
    width: auto !important;
  }
  #wrap .form-screen .title {
    padding: 20px 10px !important;
  }
  .form-screen .talert {
    font-size: 14px !important;
  }
  .form-screen .more {
    font-size: 14px !important;
  }
  .gotowebsite span {
    margin: 0 !important;
  }
  .close-call {
    right: 10px !important;
    top: 10px !important;
  }
  .width80 {
    width: 90% !important;
  }
  .slideshow-nav {
    display: none;
  }
  .slider-center {
    /* width: 100% !important; */
    left: 50% !important;
    top: 15% !important;
  }
  .gotowebsite a {
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 6px !important;
  }
  .slider-hding h2 {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .slider-hding p {
    font-size: 16px;
  }
  .skillbox {
    margin: 0 0 5px;
    padding: 10px;
  }
  .skillbox h3 {
    margin: 6px 0 0;
    min-height: 0;
    font-size: 14px;
  }
  .howitwork .skillbox {
    margin: 0 0 20px;
  }
  .ftr-box h5 {
    font-size: 16px;
    min-height: auto;
    margin: 15px 0 10px;
  }
  .footer-btm {
    text-align: center;
  }
  .social-icons {
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
  }
  .bg1::before,
  .bg2::before,
  .bg3::before,
  .bg4::before {
    top: 0px !important;
  }
  .mt-80 {
    margin-top: 60px !important;
  }
  .registerstack {
    display: flex;
    margin-top: -25px;
    justify-content: flex-end;
  }
  .sliderHeading {
    margin-top: 25px;
  }
  /*Slider*/
  .setbg {
    padding: 50px 0;
  }
  .mb-20 {
    margin-bottom: 7px;
  }
  .slide-text .topP {
    font-size: 16px;
  }
  .slide-text h2 {
    font-size: 34px !important;
  }
  .slide-text .coDetail {
    letter-spacing: 0.02em;
    font-size: 15px !important;
    line-height: 23px !important;
  }
  .course-features {
    gap: 10px 5px;
  }
  .buildText a {
    padding: 8px 17px;
    font-size: 15px;
    border-radius: 4px;
  }
  .icon-box h4 {
    font-size: 15px;
    margin-top: 4px;
    line-height: 20px;
    min-height: 45px;
  }
  .icon-box {
    padding: 10px;
    margin-top: 20px;
  }
  .section-title h2 {
    line-height: 30px;
    font-size: 20px;
    float: left;
  }
  .download h2 {
    font-size: 20px;
    margin: 0 0 15px;
    line-height: 30px;
  }
  .fresherBox {
    margin: 0 0 10px;
    padding: 0 0 15px;
    flex-direction: column;
  }
  .fresherCont {
    margin-left: 0;
  }
  .fresherBox img {
    width: 41px;
    padding: 4px;
  }
  p.certip {
    font-size: 15px;
    line-height: 25px;
  }
  .combine-text-size-regular {
    font-size: 15px;
  }
  .combine-feature2_item {
    margin: 15px 0 0;
  }
  .haveQuestion .hAdjust {
    padding: 0;
  }
  .haveQuestion .form-screen {
    padding: 0;
    border: 0;
  }
  .haveQuestion .fFotr {
    padding: 20px 0;
  }
  .faq .box.active .content {
    height: auto;
    padding: 10px;
  }
  .floating-icon {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
  .whatsapp {
    bottom: 120px !important;
    left: 10px !important;
  }
  .call {
    bottom: 60px !important;
    left: 10px !important;
  }
  .ftr-box p a {
    padding: 0;
    font-size: 14px;
  }
  #wrap {
    display: none;
  }
  .hAdjust {
    height: auto !important;
    margin-bottom: 0 !important;
  }
  .course-metrics {
    gap: 12px !important;
  }
  .metric-heading {
    font-size: 16px !important;
  }
  .metric-sub-heading {
    font-size: 14px !important;
  }
  .webinar-text p {
    font-size: 16px !important;
  }
  .form-screen {
    width: auto !important;
    padding: 15px !important;
  }
  .features-2 .theme-btn {
    padding: 10px 40px;
    margin: 0;
  }
  .placementbox {
    margin: 0 0 26px;
    padding: 8px 10px;
    margin-bottom: 25px;
    min-height: 125px;
    max-height: 126px;
  }
  .ftrlogo {
    width: 60%;
  }
  .ftr-box p {
    font-size: 14px;
  }
  .support-list li {
    font-size: 14px;
    padding: 8px 20px;
  }
  .form-screen .basic-container label {
    font-size: 14px !important;
  }
}

/*  (portrait and landscape) */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1099px) {
  .gotowebsite span.phnspan {
    display: none;
  }
  .toglecont .open-call {
    padding: 10px 15px !important;
    border-radius: 6px !important;
    font-size: 14px !important;
  }
  .slider-landing {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
  #wrap {
    right: 0 !important;
  }
  #wrap .content {
    width: auto !important;
  }
  #wrap .form-screen .title {
    padding: 20px 10px !important;
  }
  .form-screen .talert {
    font-size: 14px !important;
  }
  .form-screen .more {
    font-size: 14px !important;
  }
  .gotowebsite span {
    margin: 0 !important;
  }
  .close-call {
    right: 10px !important;
    top: 10px !important;
  }
  .width80 {
    width: 90% !important;
  }
  .slideshow-nav {
    display: none;
  }
  .slider-center {
    /* width: 100% !important; */
    left: 50% !important;
    top: 40% !important;
  }
  .gotowebsite a {
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 6px !important;
  }
  .slider-hding h2 {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .slider-hding p {
    font-size: 16px;
  }
  .skillbox {
    margin: 0 0 5px;
    padding: 10px;
  }
  .skillbox h3 {
    margin: 6px 0 0;
    min-height: 0;
    font-size: 14px;
  }
  .howitwork .skillbox {
    margin: 0 0 20px;
  }
  .ftr-box h5 {
    font-size: 16px;
    min-height: auto;
    margin: 15px 0 10px;
  }
  .footer-btm {
    text-align: center;
  }
  .social-icons {
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
  }
  .bg1::before,
  .bg2::before,
  .bg3::before,
  .bg4::before {
    top: 0px !important;
  }
  .mt-80 {
    margin-top: 60px !important;
  }
  .registerstack {
    display: flex;
    margin-top: -25px;
    justify-content: flex-end;
  }
  .sliderHeading {
    margin-top: 25px;
  }
  /*Slider*/
  .setbg {
    padding: 50px 0;
  }
  .mb-20 {
    margin-bottom: 7px;
  }
  .slide-text .topP {
    font-size: 16px;
  }
  .slide-text h2 {
    font-size: 34px !important;
  }
  .slide-text .coDetail {
    letter-spacing: 0.02em;
    font-size: 15px !important;
    line-height: 23px !important;
  }
  .course-features {
    gap: 10px 5px;
  }
  .buildText a {
    padding: 8px 17px;
    font-size: 15px;
    border-radius: 4px;
  }
  .icon-box h4 {
    font-size: 15px;
    margin-top: 4px;
    line-height: 20px;
    min-height: 45px;
  }
  .icon-box {
    padding: 10px;
    margin-top: 20px;
  }
  .section-title h2 {
    line-height: 30px;
    font-size: 20px;
    float: left;
  }
  .download h2 {
    font-size: 20px;
    margin: 0 0 15px;
    line-height: 30px;
  }
  .fresherBox {
    margin: 0 0 10px;
    padding: 0 0 15px;
    flex-direction: column;
  }
  .fresherCont {
    margin-left: 0;
  }
  .fresherBox img {
    width: 41px;
    padding: 4px;
  }
  p.certip {
    font-size: 15px;
    line-height: 25px;
  }
  .combine-text-size-regular {
    font-size: 15px;
  }
  .combine-feature2_item {
    margin: 15px 0 0;
  }
  .haveQuestion .hAdjust {
    padding: 0;
  }
  .haveQuestion .form-screen {
    padding: 0;
    border: 0;
  }
  .haveQuestion .fFotr {
    padding: 20px 0;
  }
  .faq .box.active .content {
    height: auto;
    padding: 10px;
  }
  .floating-icon {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
  .whatsapp {
    bottom: 120px !important;
    left: 10px !important;
  }
  .call {
    bottom: 60px !important;
    left: 10px !important;
  }
  .ftr-box p a {
    padding: 0;
    font-size: 14px;
  }
  #wrap {
    display: none;
  }
  .hAdjust {
    height: auto !important;
    margin-bottom: 0 !important;
  }
  .course-metrics {
    gap: 12px !important;
  }
  .metric-heading {
    font-size: 16px !important;
  }
  .metric-sub-heading {
    font-size: 14px !important;
  }
  .webinar-text p {
    font-size: 16px !important;
  }
  .form-screen {
    width: auto !important;
    padding: 15px !important;
  }
  .features-2 .theme-btn {
    padding: 10px 40px;
    margin: 0;
  }
  .placementbox {
    margin: 0 0 26px;
    padding: 8px 10px;
    margin-bottom: 25px;
    min-height: 125px;
    max-height: 126px;
  }
  .ftrlogo {
    width: 60%;
  }
  .ftr-box p {
    font-size: 14px;
  }
  .support-list li {
    font-size: 14px;
    padding: 8px 20px;
  }
  .form-screen .basic-container label {
    font-size: 14px !important;
  }
}
