/* * {
  margin: 0;
  padding: 0;
} */
.pt {
  padding-top: 80px;
}
.pb {
  padding-bottom: 100px;
}
.pt-130 {
  padding-top: 130px;
}
.width99 {
  width: 99%;
  margin: 0 auto;
}
.width95 {
  width: 95%;
  margin: 0 auto;
}
.width90 {
  width: 90%;
  margin: 0 auto;
}
.width80 {
  width: 80%;
  margin: 0 auto;
}
.section-title-area.width200 p {
  width: 100%;
  text-align: justify;
}
p {
  color: #043146b2;
  font-family: "PoppinsRegular";
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-80 {
  margin-top: 80px;
}
.heading-div.white-heading h3 {
  color: #fff;
  margin-top: 20px;
}
.heading-div.white-heading p {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  text-align: justify;
}
p,
a {
  color: #043146;
}
.comm-margin {
  margin-top: 420px;
  position: relative;
  z-index: 1;
}
/*Start Common heading*/
.centerhding {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.comon-hding {
  padding-bottom: 30px;
}
.comon-hding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.title1 {
  font-family: "Exo2Bold";
  font-size: 30px;
  line-height: 30px;
  color: #0f3564;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to right, #0077c1 0%, #0f3564 100%);
  -webkit-text-fill-color: transparent;
}
.title2 {
  font-family: RubikMedium;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  color: #262626;
  text-transform: capitalize;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  margin-bottom: 15px;
}

.comon-hding .title2 span {
  color: #0f3564;
  font-style: italic;
  font-family: "Exo2Bold";
  background: linear-gradient(to right, #0077c1 0%, #0f3564 100%);
  -webkit-text-fill-color: transparent;
}
.title3 {
  font-family: "PoppinsMedium";
  font-size: 18px;
  line-height: 30px;
  color: #616161;
  text-transform: inherit;
  letter-spacing: 0.03em;
  margin: 0 auto;
}
/*End Common Heading*/

/*Animation*/
.zoom-in-zoom-out {
  width: fit-content;
  animation: zoom-in-zoom-out 6s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.service-sec .shape-5 {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: -1;
  -webkit-animation: spinner 2s infinite linear;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.service-sec .shape-4 {
  position: absolute;
  left: 7%;
  top: 9%;
  z-index: -1;
  animation: animate 5s linear infinite;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}
@keyframes animate {
  100% {
    transform: scale(var(--scale)) rotateY(1turn);
  }
}
.service-sec .shape-7 {
  position: absolute;
  right: 8%;
  bottom: 8%;
  z-index: -1;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.service-sec .shape-6 {
  position: absolute;
  left: -1%;
  bottom: 3%;
  z-index: -1;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  opacity: 0.6;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*End Animation*/

/*Start Shape*/
.shape01 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.shape02 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.shape-circle {
  width: 500px;
  height: 500px;
  right: -140px;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 50px solid rgba(255, 54, 107, 0.05);
  position: absolute;
  z-index: -1;
}
/*Start List circle*/

/*** Key Points ***/
.content {
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
  height: 300px;
  margin: auto;
  overflow: hidden;
}
.c-bg {
  padding: 0;
  margin: 0;
}
.cone {
  background: linear-gradient(45deg, #feb600 0%, #ffc108 100%);
}
.ctwo {
  background: linear-gradient(45deg, #1f9cbd 0%, #49b9da 100%);
}
.cthree {
  background: linear-gradient(45deg, #feb600 0%, #ffc108 100%);
}
.cone h4,
.cthree h4,
.carte.cone p,
.carte.cthree p,
.carte.cone a,
.carte.cthree a {
  color: #000 !important;
}
.carte {
  right: 0px;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 75px;
  bottom: 0;
  transform-origin: bottom;
  border-radius: 0px;
  color: #0d1226;
  text-align: center;
  padding: 25px 25px 20px 25px;
  transition: 500ms;
  display: block;
  overflow: hidden;
  clear: both;
}
.carte:hover {
  height: 300px;
  border-radius: 6px;
}
.key-point {
  position: relative;
  z-index: 1;
  display: block;
  clear: both;
}
.kabslt {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: -115px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.kabslt .carte h4 {
  color: rgba(255, 255, 255, 0.99);
  text-transform: capitalize;
  font-family: "LexendMedium";
  position: relative;
  display: block;
  clear: both;
  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: center;
  letter-spacing: 0.03em;
}

.kabslt .carte p {
  font-size: 19px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.99);
  display: block;
  position: relative;
  line-height: 25px;
}
.kabslt .carte a {
  font-size: 18px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.89);
  display: block;
  position: relative;
  text-transform: capitalize;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.4);
  width: 35%;
  margin-bottom: 14px;
}
.kabslt .carte a:hover {
  color: #000;
}
.key-imag {
  position: relative;
  z-index: 0;
  display: block;
  clear: both;
}
.key-imag img {
  position: absolute;
  top: 126px;
  right: 1px;
  width: 165px;
}
/***Key Points End ***/
.dpflex li {
  position: relative;
  font-size: 18px;
  font-family: "NunitoBold";
  margin: 0 0 15px;
  padding: 0 0 0 20px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #043146;
}
.dpflex li::before {
  position: absolute;
  content: url(../assets/css/image/icon/computer.png);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list-services ul li {
  font-size: 18px;
  padding: 0 0 0 35px;
  margin: 0 0 10px 0;
  letter-spacing: 0.05em;
  line-height: 30px;
  position: relative;
  transition: all 0.3s ease 0s;
  color: #616161;
  font-family: "LexendRegular";
}
.list-services ul li a {
  color: #3b4052;
  font-family: "PoppinsMedium";
}
.list-services ul li a:hover {
  color: #2762fb;
}
.list-services ul li:after {
  top: 7px;
  background: #d6fbff;
}
.list-services li:before {
  top: 3px !important;
  left: 3px !important;
  border: 1px dashed #2762fb;
  animation: spin 15s linear infinite;
  -webkit-animation: spin 15s linear infinite;
}
.list-services ul li:before,
.list-services ul li:after {
  position: absolute;
  content: "";
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
/*End List Circle*/
/*start counter*/
.abt-counter {
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.abt-counter .comon-hding {
  padding-bottom: 30px;
}
.abt-counter .comon-hding .title3 {
  margin: 0;
}
.abt-counter .icon-one {
  background-image: url(../assets/css/image/icon/13-1.png);
  position: absolute;
  left: 30px;
  bottom: 0px;
  width: 313px;
  height: 212px;
  background-repeat: no-repeat;
}
.abt-counter .icon-two {
  background-image: url(../assets/css/image/icon/14.png);
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 301px;
  height: 495px;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}
.counterup {
  transition: 0.5s;
  padding: 0 15px;
  border-radius: 8px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 30px 15px;
}
.counterup h3 {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  font-family: "RubikMedium";
  text-align: center;
  margin: 0;
  letter-spacing: 0.01em;
}
.counterup.odd {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #0077c1),
    color-stop(100, #0f3564)
  );
  background-image: -webkit-linear-gradient(left, #0077c1 0%, #0f3564 100%);
  background-image: linear-gradient(to right, #0077c1 0%, #0f3564 100%);
}
.counterup.even {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #191514),
    color-stop(100, #000)
  );
  background-image: -webkit-linear-gradient(left, #191514 0%, #000000 100%);
  background-image: linear-gradient(to right, #191514 0%, #000000 100%);
}
.counterup {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #00a7fe),
    color-stop(100, #0077c1)
  );
  background-image: -webkit-linear-gradient(left, #00a7fe 0%, #0077c1 100%);
  background-image: linear-gradient(to right, #00a7fe 0%, #0077c1 100%);
}
.count1 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #00a7fe),
    color-stop(100, #0077c1)
  );
  background-image: -webkit-linear-gradient(left, #00a7fe 0%, #0077c1 100%);
  background-image: linear-gradient(to right, #00a7fe 0%, #0077c1 100%);
}
.count2 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #191514),
    color-stop(100, #000)
  );
  background-image: -webkit-linear-gradient(left, #191514 0%, #000000 100%);
  background-image: linear-gradient(to right, #191514 0%, #000000 100%);
}
.count3 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #00a7fe),
    color-stop(100, #0077c1)
  );
  background-image: -webkit-linear-gradient(left, #00a7fe 0%, #0077c1 100%);
  background-image: linear-gradient(to right, #00a7fe 0%, #0077c1 100%);
}
.count4 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #191514),
    color-stop(100, #000)
  );
  background-image: -webkit-linear-gradient(left, #191514 0%, #000000 100%);
  background-image: linear-gradient(to right, #191514 0%, #000000 100%);
}
.c-image img {
  width: 50px;
  margin: 0 0 10px;
}
/*End Counter*/
/*Start About section*/
.about-sec {
  position: relative;
  z-index: 1;
  background-color: #fff;
  background: url(../assets/css/image/bg-5.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-top: 80px;
}
.about-img-left {
  text-align: center;
  position: relative;
  margin: 30px 0 0;
}
.about-us-info-wrap {
  position: relative;
}
.white-heading .section-subtitle-2 {
  color: #fff;
}
.section-subtitle-2 {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 25px;
  position: relative;
  color: #1585a4;
  font-size: 16px;
  font-family: "NunitoBold";
  margin: 0 0 10px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.section-subtitle-2::before {
  position: absolute;
  content: "";
  background-color: #0f3564;
  width: 100%;
  height: 100%;
  top: 50%;
  right: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
  border-radius: 25px;
  opacity: 0.1;
}
.section-title {
  font-size: 35px;
  line-height: 50px;
  color: #043146;
  font-family: "PoppinsBold";
  letter-spacing: 0.03em;
  margin: 10px 0 25px;
  text-transform: capitalize;
}
.white-heading h3 {
  color: #fff;
}
.footer-contact-two {
  background-color: #fff;
  padding: 20px 20px 20px 90px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
  min-height: 108px;
  max-height: 108px;
}
.section-title-area p {
  font-size: 18px;
  letter-spacing: 0.03em;
  text-align: justify;
  margin: 0 0 6px;
}
.fullwidth.section-title-area p {
  width: 95%;
}
.section-title-area.centerhding p {
  margin: 0 auto;
}
.ltn__list-item-half {
  margin-top: 25px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.ltn__list-item-half li {
  width: 50%;
  float: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 10px;
  font-family: "PoppinsMedium";
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #043146b2;
}
.ltn__list-item-half li img {
  padding: 10px;
  margin-right: 15px;
  background-color: #e0eef4;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  border-radius: 100%;
}
.callout {
  padding: 20px;
  margin: 25px 0;
  border-left: 4px solid #1585a4;
}
.bg-overlay {
  position: relative;
}
.bg-overlay:before {
  background: #e0eef4;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.callout p {
  position: relative;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "LexendRegular";
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: inherit;
}
.callout p:before {
  top: 3px !important;
  left: 3px !important;
  border: 1px dashed rgba(255, 176, 1, 0.5);
  animation: spin 15s linear infinite;
  -webkit-animation: spin 15s linear infinite;
}
.callout p:before,
.callout p:after {
  position: absolute;
  content: "";
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.about-us-info-wrap .callout p:before,
.about-us-info-wrap .callout p:after {
  opacity: 0;
}
.callout p:after {
  top: 5px;
  background: rgba(255, 176, 1, 0.5);
}
.about-us-info-wrap .btn-wrapper {
  margin-top: 40px;
  display: block;
}
/*End about */
/*Start Button*/
.btn-1 {
  background: linear-gradient(to right, #1585a4 0%, #085b72 100%);
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
  outline: none;
}
.btn-1 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-family: "NunitoBold";
}
.btn-1:before,
.btn-1:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #1585a4;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-1:before {
  height: 0%;
  width: 2px;
}
.btn-1:after {
  width: 0%;
  height: 2px;
}
.btn-1:hover {
  color: #1585a4;
  background: #fff;
}
.btn-1:hover:before {
  height: 100%;
}
.btn-1:hover:after {
  width: 100%;
}
.btn-1 span:before,
.btn-1 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #0077c1;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-1 span:before {
  width: 2px;
  height: 0%;
}
.btn-1 span:after {
  height: 2px;
  width: 0%;
}
.btn-1 span:hover:before {
  height: 100%;
}
.btn-1 span:hover:after {
  width: 100%;
}
/*End Button*/

/* Start features*/
.features-area {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features-area:before {
  content: "";
  position: absolute;
  background-image: url(../assets/css/image/shape/shape-1.png);
  width: 100%;
  height: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
  top: 0;
  right: 0;
}
.features-inner-content .features-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin: 16px -10px 0;
}
.features-inner-content .features-list li {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.features-inner-content .features-list li span {
  display: block;
  background-color: #1585a4;
  padding: 11px 15px 10px;
  z-index: 1;
  position: relative;
  transition: 0.5s;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-family: "NunitoBold";
  border-radius: 5px;
}
.features-inner-content .features-list li span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, #1585a4 0%, #043146 100%);
  z-index: -1;
  transition: 0.5s;
  border-radius: 5px;
}
.features-inner-content .features-list li span img {
  margin-right: 5px;
  color: #fff;
  position: relative;
  top: -1px;
}
.features-inner-content .features-list li span:hover {
  color: #fff;
}
.features-inner-content .features-list li span:hover:before {
  width: 100%;
}
.features-inner-content .features-btn {
  margin-top: 30px;
}
.default-btn {
  display: inline-block;
  color: #fff;
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  font-family: "NunitoBold";
  font-size: 17px;
  letter-spacing: 0.05em;
}
.default-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #1585a4 0%, #043146 100%);
  transition: 0.5s;
}
.default-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 043146;

  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.default-btn:hover:after {
  opacity: 1;
  visibility: visible;
}
.default-btn:hover {
  color: #fff;
}
.features-area .shape-6 {
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: -1;
  animation: move 2s steps(15) infinite alternate;
}
@keyframes move {
  from {
    top: 0;
    right: 0;
  }
  to {
    top: 100px;
    right: 100px;
  }
}
.features-area .shape-7 {
  position: absolute;
  left: 50%;
  top: 5%;
  z-index: -1;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.features-image {
  width: 70%;
  margin: 0 0 0 auto;
}
/*End Features*/

/*Start Service*/
.service-sec {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: url(../assets/css/image/bg/bg-pattern-dot.png) 0 0 repeat !important;
  background-color: #f2f6f7;
}
.service-sec:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.45);
}
.service-sec:after {
  position: absolute;
  content: "";
  height: 145px;
  width: 145px;
  border: 10px solid rgba(0, 0, 0, 0.05);
  top: 50px;
  left: 50px;
  transform: rotate(-15deg);
  z-index: 1;
  animation: rotate 30s linear infinite;
}
.service-sec .shape1 {
  background: url(../assets/css/image/shape/shape03.png);
}
.ser-center {
  background: url(../assets/css/image/shape/service-imgbg.png) no-repeat center;
  background-size: contain;
}
.hding-para h6 {
  margin: 0 0 5px;
}
.hding-para h6 a {
  font-size: 20px;
  line-height: 30px;
  font-family: "LexendBold";
  text-transform: capitalize;
  letter-spacing: 0.03em;
  color: #0f3564;
}
.hding-para p {
  font-size: 16px;
  font-family: "PoppinsMedium";
  letter-spacing: 0.03em;
  margin: 0;
  text-transform: inherit;
}
.ser-left .hding-para {
  text-align: right;
}
.ser-right .viewservice {
  padding-right: 0;
}
.ser-left .viewservice {
  padding-left: 0;
}
.serinfo {
  padding: 15px 10px 15px 10px;
  border-radius: 4px;
  transition: background 0.3s;
  position: relative;
  margin-bottom: 40px;
}
.serinfo:hover {
  background: #ffffff;
  box-shadow: 0px 7px 20px 0px rgb(42 22 139 / 8%);
}
.firstleft {
  left: 30px;
}
.secondleft {
  left: -26px;
}
.thirdleft {
  left: 29px;
}
.firstright {
  left: -50px;
}
.secondright {
  left: 0;
}
.thirdright {
  left: -30px;
}
/*End Service*/
/*Start Blog*/
.blogsec {
  position: relative;
  background: url(../assets/css/image/bg/business-bg.jpg) no-repeat top right;
  background-size: auto;
  background-color: #eefbff;
  z-index: 1;
}
.product-box {
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 18px 0 rgb(194 200 213 / 30%);
  background: #fff;
  border-bottom: 1px solid #eeeeee;
}

.product-box:hover .product-thumb:before {
  opacity: 1;
  -webkit-transform: perspective(400px) rotateX(0deg);
  -ms-transform: perspective(400px) rotateX(0deg);
  transform: perspective(400px) rotateX(0deg);
}
.product-box .product-thumb:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 8;
  opacity: 0;
  -webkit-transform: perspective(400px) rotateX(-90deg);
  -ms-transform: perspective(400px) rotateX(-90deg);
  transform: perspective(400px) rotateX(-90deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.75);
}
.product-box .product-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  min-height: 260px;
}
.product-box .product-content {
  border-radius: 0 0 4px 4px;
  padding: 0 15px 15px 15px;
}
.product-content .product-category {
  padding-top: 0;
  margin-top: -20px;
  display: block;
}
.product-content .product-category a {
  margin-top: 0;
  position: relative;
  background: #fff;
  font-size: 15px;
  padding: 8px 15px;
  z-index: 10;
  line-height: 1;
  border-radius: 3px;
  font-family: "LexendBold";
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.product-box .product-thumb:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  background: linear-gradient(to top, #1585a4, transparent);
  opacity: 80%;
}
.product-box .product-thumb .rtcl-thumbnail {
  border-radius: 0;
  width: 100%;
  max-height: 260px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.product-box .product-thumb .product-type {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  text-transform: capitalize;
}
.product-box .product-thumb .product-type span {
  font-size: 15px;
  background: #1585a4;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  font-family: "LexendMedium";
  display: inline-block;
  line-height: 1;
  margin-right: 4px;
  text-transform: capitalize;
  letter-spacing: 0.04em;
}
.product-top-content h3 a {
  font-size: 17px;
  font-family: "LexendMedium";
  letter-spacing: 0.01em;
}
.product-top-content h3 a:hover {
  color: #1585a4;
}
.product-top-content h3 {
  line-height: 22px;
  margin: 15px 0 0;
  min-height: 84px;
}
.product-top-content p {
  font-size: 16px;
  font-family: "PoppinsRegular";
  letter-spacing: 0.03em;
  margin: 10px 0 15px;
  text-align: inherit;
  text-transform: inherit;
  min-height: 72px;
}
.list-information ul {
  margin: 0;
  padding: 0;
}
.list-information li {
  list-style: none;
  display: inline-block;
  margin: 0 7px 7px 0;
  text-transform: capitalize;
  font-size: 15px;
  font-family: "PoppinsMedium";
  line-height: 20px;
  letter-spacing: 0.03em;
}
.list-information li span {
  background: rgba(255, 153, 0, 0.1);
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  border-radius: 50px;
  margin: 0 7px 0 0;
}
.product-top-content {
  position: relative;
}
.product-top-content .read-more a {
  font-family: "LexendMedium";
  font-size: 14px;
  color: #000;
}
.product-top-content .read-more a:hover {
  color: #ffb001;
}
.read-more {
  position: absolute;
  right: 0;
  bottom: 0;
}
.bvmore a {
  background: linear-gradient(to right, #0077c1 0%, #0f3564 100%);
  border: none;
  color: #fff;
  font-family: "LexendMedium";
  border-radius: 5px;
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
  outline: none;
}
.row.bvmore {
  text-align: center;
}
.row.viewblog {
  text-align: center;
  display: block;
}
/*End Blog*/
/*Start Testimonials */
.testimonial {
  position: relative;
  background: url(../assets/css/image/bg/bg6.jpg) no-repeat;
  background-color: #f4feff;
  background-size: contain;
  background-position: left bottom;
  overflow: hidden;
  z-index: 1;
}
.testimonial .row .tabs {
  all: unset;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.testimonial .row .tabs li {
  all: unset;
  display: block;
  position: relative;
}
.testimonial .row .tabs li.active::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #ff9900;
  border-radius: 50%;
}
.testimonial .row .tabs li.active::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ff9900;
  border-radius: 50%;
}
.testimonial .row .tabs li:nth-child(1) {
  align-self: flex-end;
}
.testimonial .row .tabs li:nth-child(1)::before {
  left: 64%;
  bottom: -50px;
}
.testimonial .row .tabs li:nth-child(1)::after {
  left: 97%;
  bottom: -81px;
}
.testimonial .row .tabs li:nth-child(1) figure img {
  border-radius: 100%;
  width: 180px;
  height: 180px;
  margin-left: auto;
}
.testimonial .row .tabs li:nth-child(2) {
  align-self: flex-start;
}
.testimonial .row .tabs li:nth-child(2)::before {
  right: -65px;
  top: 50%;
}
.testimonial .row .tabs li:nth-child(2)::after {
  bottom: 101px;
  border-radius: 50%;
  right: -120px;
}
.testimonial .row .tabs li:nth-child(2) figure img {
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  margin-top: -50px;
}
.testimonial .row .tabs li:nth-child(3) {
  align-self: flex-end;
  width: 180px;
}
.testimonial .row .tabs li:nth-child(3)::before {
  right: -10px;
  top: -66%;
}
.testimonial .row .tabs li:nth-child(3)::after {
  top: -130px;
  border-radius: 50%;
  right: -46px;
}
.testimonial .row .tabs li:nth-child(3) figure img {
  margin-left: auto;
  margin-top: -50px;
}
.testimonial .row .tabs li:nth-child(3):focus {
  border: 10px solid red;
}
.testimonial .row .tabs li figure {
  position: relative;
}
.testimonial .row .tabs li figure img {
  display: block;
}
.testimonial .row .tabs li figure::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 4px solid rgba(255, 153, 0, 0.2);
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.testimonial .row .tabs li figure:hover::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.testimonial .row .tabs.carousel-indicators li.active figure::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.testimonial .row .carousel > h3 {
  font-size: 20px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
}
.testimonial .row .carousel h2 {
  font-size: 40px;
  line-height: 1.225;
  margin-top: 23px;
  font-weight: 700;
  margin-bottom: 0;
}
.testimonial .row .carousel .carousel-indicators {
  all: unset;
  padding-top: 43px;
  display: flex;
  list-style: none;
}
.testimonial .row .carousel .carousel-indicators li {
  background: #ddd;
  background-clip: padding-box;
  height: 2px;
}
.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper {
  margin-top: 42px;
}
.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper p {
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "PoppinsRegular";
  text-transform: inherit;
  text-align: left;
}
.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
  color: #000;
  font-family: "PoppinsBold";
  margin-top: 37px;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}
@media only screen and (max-width: 1200px) {
  .testimonial .row .tabs {
    margin-right: 25px;
  }
}
.testimonial .shape1 {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-animation: spinner 15s infinite linear;
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*End Testimonials*/
/*Start FAQ*/
.faq {
  background: url(../image/bg/f-bg.jpg) no-repeat;
  background-size: cover;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
}
.faq:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(243, 248, 251, 0.97);
}

.faqimg {
  width: 85%;
  margin: 0 auto;
}
.faq .accordion {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.faq .label {
  font-size: 18px;
  font-family: "LexendMedium";
  border-bottom: 1px solid #eeeeee;
  color: #0f3564;
  width: 100%;
  padding: 0px 15px 10px 5px;
  position: relative;
  letter-spacing: 0.05em;
  text-transform: inherit;
  cursor: pointer;
}
.faq .label:hover {
  color: #1585a4;
}
.faq .label::before {
  content: "+";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 19px;
}
.faq .content {
  font-size: 16px;
  font-family: "PoppinsRegular";
  background-color: transparent;
  overflow: auto;
  color: #616161;
  height: 0;
  text-align: left;
  position: relative;
  transition: all 1s ease;
  line-height: 25px;
  letter-spacing: 0.03em;
}
.content ul li {
  font-size: 16px;
  font-family: "LexendRegular";
  background-color: transparent;
  overflow: auto;
  color: #616161;
  height: 0;
  text-align: left;
  position: relative;
  transition: all 1s ease;
  line-height: 25px;
  letter-spacing: 0.01em;
  display: table;
}
.faq .content::-webkit-scrollbar {
  display: none;
}
.faq .box.active .content {
  height: 120px;
  padding: 10px;
}
.faq .box.active .label::before {
  content: "-";
}
/*End FAQ*/
/*Start Overview*/
.courseModulesBox {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #cef5ff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.courseModulesBox:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.servicecol {
  display: flex;
  margin-top: 25px;
  min-height: 320px;
  transition: all 0.3s;
  border: 1px solid rgba(238, 238, 238, 0.7);
  position: relative;
  background: #fff;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  box-shadow: 0 5px 15px 3px rgb(0 0 0 / 5%);
  flex-direction: column;
}
.servicecol:hover {
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 15%);
  transform: translate(0, -24px);
}
.service-imag,
.service-info {
  flex-direction: column;
  padding: 20px 15px;
}
.service-info h5 {
  color: #000;
  font-size: 21px;
  font-family: "PoppinsBold";
  margin: 0 0 15px;
  letter-spacing: 0.02em;
  line-height: 25px;
}
.service-info ul {
  margin: 0;
  padding: 0;
}
.sview {
  text-align: right;
  position: relative;
  bottom: 0;
}
.sview a {
  transition: transform 0.2s;
}
.service-info li {
  color: #043146;
  font-size: 17px;
  font-family: "LexendMedium";
  margin: 0 0 10px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 0em;
  display: flex;
}
.service-info ul li span {
  margin-right: 8px;
}
.service-imag {
  display: none;
  text-align: center;
}
/*End Overview*/

/*Start free trial*/
.free-trial-section {
  position: relative;
  background: url(../assets/css/image/bg/bg7.jpg) right;
  background-repeat: repeat-y;
  background-size: auto;
  background-color: #fff;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.free-trial-section:before {
    width:40%;
    height:100%;
    z-index:-1;
    position:absolute;
    right:0;
    top:0;
    background:linear-gradient(to left bottom,#f8f9fd,#fafafd,#fcfcfe,#fdfdfe,#fff);
    content:"";
}*/
.free-trial-section:before {
  content: "";
  background: url(../assets/image/bg//bg3.png);
  width: auto;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 0;
}

.free-trial-text form {
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
}
.free-trial-text form .input-newsletter {
  display: block;
  width: 70%;
  height: 45px;
  color: #fff;
  border: none;
  outline: 0;
  background-color: #333;
  border-radius: 30px;
  padding-left: 25px;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.free-trial-text form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
  border: none;
  padding: 0 30px;
  line-height: 45px;
  background-color: #0079c3;
  border-radius: 30px;
  transition: 0.5s;
  color: #fff;
  font-family: "LexendMedium";
  font-size: 15px;
  letter-spacing: 0.03em;
}
.free-trial-section .slider-shape-3 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  opacity: 0.6;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.free-trial-section .dot-shape2 {
  left: 5%;
  top: 45%;
  -webkit-animation: animationFramesTwo 30s linear infinite;
  animation: animationFramesTwo 30s linear infinite;
}
.free-trial-section .shape-4 {
  position: absolute;
  left: 5%;
  bottom: 4%;
  z-index: -1;
  opacity: 0.5;
  animation: animate 5s linear infinite;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}
@keyframes animate {
  100% {
    transform: scale(var(--scale)) rotateY(1turn);
  }
}
.free-trial-text h2 {
  font-family: "Exo2Bold";
  font-size: 40px;
  letter-spacing: 0.03em;
  color: #333333;
  text-transform: capitalize;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: 600;
}
.free-trial-text p {
  color: #57647c;
  font-size: 14px;
  font-family: "LexendRegular";
  letter-spacing: 0.02em;
  text-transform: inherit;
  margin: 20px 0 0;
}
/*End free trial*/

/*Start Breadcumb*/
.breadcumb {
  position: relative;
  z-index: 1;
  padding: 170px 0 85px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 50% 100%, 0 74%);
  clip-path: polygon(0 0, 100% 0, 100% 74%, 50% 100%, 0 74%);
  margin-top: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 0;
  height: 325px;
  background-color: #1585a4;
}
.section-bg::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.breadcumb__item a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.work-shape__item {
  position: absolute;
  top: 30%;
  z-index: -1;
}
.work-shape__item:nth-child(1) {
  top: 45%;
  left: 13%;
  -webkit-animation: circletwo 14s ease-in-out infinite;
  animation: circletwo 14s ease-in-out infinite;
}
.work-shape__item:nth-child(2) {
  left: 8%;
  -webkit-animation: square 8s ease-in-out infinite;
  animation: square 8s ease-in-out infinite;
}
.work-shape__item:nth-child(3) {
  left: 20%;
  -webkit-animation: triangle 8s ease-in-out infinite;
  animation: triangle 8s ease-in-out infinite;
}
.work-shape__item:nth-child(4) {
  top: 45%;
  right: 14%;
  -webkit-animation: circletwo 14s ease-in-out infinite;
  animation: circletwo 14s ease-in-out infinite;
}
.work-shape__item:nth-child(5) {
  right: 7%;
  -webkit-animation: square 8s ease-in-out infinite;
  animation: square 8s ease-in-out infinite;
}
.work-shape__item:nth-child(6) {
  right: 21%;
  -webkit-animation: triangle 8s ease-in-out infinite;
  animation: triangle 8s ease-in-out infinite;
}
.breadcumb__title {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-family: "PoppinsBold";
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.breadcumb__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
.breadcumb__link {
  color: #fff;
  font-family: "PoppinsMedium";
}
.breadcumb__item {
  color: #fff;
  padding: 0 5px;
  font-weight: 400;
  font-size: 16px;
}
.breadcumb__item-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "PoppinsMedium";
}
/*End Breadcumb*/
/*Start SEO*/
.about-us-info-wrap {
  position: relative;
  width: 80%;
}
.courseModules .rightsec {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.course-journey-card-desktop-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.courseModules .emoji {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  height: 80px;
  border-radius: 100px;
  width: 80px;
  position: relative;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 12px 32px #ededed);
}
.course-journey-card-desktop-wrapper .side-tracker-container {
  width: 72px;
  display: block;
}
.courseModules .feature-card {
  background: #ffffff;
  color: #7f7f7f;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 12px;
  column-gap: 12px;
  /* width: 573px; */
  /* min-height: 84px; */
  /* max-height: 117px; */
  border-radius: 12px;
  padding: 16px;
  position: relative;
}
.courseModules {
  position: relative;
  background: #e7f4f8;
  z-index: 1;
}
.courseModules .emoji img {
  height: 24px;
  width: 24px;
}
.courseModules .emoji .gesture-notch {
  color: #141414;
  border-radius: 16px 4px 16px 16px;
  position: absolute;
  bottom: 0;
  right: 52px;
  padding: 4px 12px;
  width: -webkit-max-content;
  width: max-content;
  background: #ffe9bf;
}
.courseModules .feature-card .unordered-list {
  list-style: disc;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  white-space: nowrap;
}
.courseModule .zen-typo-body-small {
  letter-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.courseModules .rightsec {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding-left: 100px;
}
.perdaycard {
  display: flex;
  flex-direction: row;
}
/*End Seo */
