/*::-webkit-scrollbar {display:none;}*/
#slide-show {
  height: 110vh;
  min-height: 110vh;
  overflow: hidden;
  width: 100%;
  top: 90px;
  position: relative;
  background: #f9f7f7;
  z-index: 0;
  overflow: hidden;
}
#slide-show .arrow {
  display: none;
}
.bg1,
.bg2,
.bg3,
.bg4 {
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background: rgba(21, 133, 164, 0.8);
  height: 80vh;
  min-height: 80vh;
  overflow: hidden;
  width: 100vw;
  min-width: 100vw !important;
  position: relative;
  top: 0px;
  left: 0;
  z-index: 1;
}
.banner-shape {
  position: absolute;
  z-index: 0;
  top: 60px;
  left: 0;
}
.banner-shape img {
  max-width: 105px;
}
.slide-text {
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.slide-text b {
  font-weight: 400;
}
.slide-text h2 {
  margin: 15px 0;
  font-family: "PoppinsBold";
  font-size: 45px;
  text-align: left;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: capitalize;
}
.slide-text h6 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  text-transform: capitalize;
  font-family: "PoppinsRegular";
  margin: 0;
  letter-spacing: 0.01em;
}
.slide-text p {
  color: #fff;
  font-family: "PoppinsMedium";
  text-align: left;
  font-size: 18px;
  text-transform: inherit;
  margin: 10px 0;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.slidex {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: -1;
}
.activx {
  opacity: 1;
}
.slideshow-nav {
  display: none;
  position: absolute;
  bottom: 40%;
  width: 100vw;
  min-width: 100vw !important;
  font-size: 30px;
  background: transparent;
}
.previousx {
  float: left;
}
.nextx {
  float: right;
}

.bg1:before,
.bg2:before,
.bg3:before,
.bg4:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../image/slider/home_banner.png") repeat top center !important;
  background-size: cover !important;
  z-index: 0;
}
.circle1,
.circle2 {
  display: none;
}
.banner-img-box {
  position: relative;
}
.banner-img-box .circle2 {
  position: absolute;
  z-index: -1;
  bottom: 120px;
  left: -135px;
  height: 52%;
  width: 100%;
  border-radius: 0 0 400px 400px;
  background-color: #0079c4;
  -webkit-transform: rotate(100deg);
  transform: rotate(100deg);
}
.banner-img-box .circle1 {
  position: absolute;
  z-index: -1;
  top: 120px;
  right: -135px;
  height: 52%;
  width: 100%;
  border-radius: 400px 400px 0 0;
  background-color: #0079c4;
  -webkit-transform: rotate(100deg);
  transform: rotate(100deg);
}
.banner-img-box .circle1 {
  height: 47%;
  top: 101px;
  right: -115px;
}
.banner-img-box .circle2 {
  height: 47%;
  bottom: 100px;
  left: -115px;
}
.two-btns {
  margin-top: 10px;
}
.two-btns a {
  color: #000;
  background: #feb600;
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: 0.01em;
  padding: 15px 40px;
  border-radius: 10px;
  font-family: "LexendMedium";
}
.two-btns {
  margin-top: 20px;
  display: flex;
  position: relative;
  transition: all 500ms ease;
  z-index: 1;
}
.two-btns a::after {
  background-color: #19232b;
}

.two-btns a:hover::after {
  width: 100%;
  left: 0;
}
.two-btns a::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  background-color: #0365d3;
  z-index: -1;
  transition: all 500ms ease;
}
.two-btns a:hover {
  color: #ffffff;
}
.two-btns .contb {
  background: #fff;
  margin-left: 20px;
}
a.getst:hover {
  background: #f6a800;
}
a.getst:hover,
a.contb:hover {
  background: #f6a800;
}
.slidex {
  position: relative;
}
.slidex::before {
  content: "";
  left: 0;
  position: absolute;
  background-color: var(--whiteColor);
  height: 20%;
  bottom: -60px;
  -webkit-transform: skewY(175deg);
  transform: skewY(175deg);
  width: 100%;
  z-index: 1;
}
/*
.banner-img-box .banner-img-shape img:nth-child(1) {
    position: absolute;
    z-index: -1;
    bottom: 60px;
    right:-45px;
    max-width: 400px;
    ebkit-animation: spinner 15s infinite linear;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
.banner-img-box .banner-img-shape img:nth-child(2) {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 20px;
    -webkit-animation: spinner 6s infinite linear;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}
.banner-img-box .banner-img-shape img:nth-child(3) {
    position: absolute;
    z-index: -1;
    top: 25%;
    right: -80px;
    -webkit-animation: spinner 5s infinite linear;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}
.banner-img-box .banner-img-shape img:nth-child(4) {
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -30px;
    -webkit-animation: spinner 5s infinite linear;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}
.banner-img-box .banner-img-shape img:nth-child(5) {
    position: absolute;
    z-index: -1;
    bottom:-25px;
    right: 110px;
    -webkit-animation: spinner 5s infinite linear;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}
.banner-img-box .banner-img-shape img:nth-child(6) {
    position: absolute;
    z-index: -1;
    top: 15%;
    right:-25px;
    -webkit-animation: spinner 5s infinite linear;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}


.bg2 {background-image: url("../image/slider/slider2.jpg");}
.bg3 { background-image: url("../image/slider/slider3.jpg");}
.bg4 {background-image: url("../image/slider/slider2.jpg");}*/
.slider-center {
  position: absolute;
  height: 15%;
  width: 80%;
  left: 50%;
  top: 25%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  letter-spacing: 2px;
}
.nav-link {
  transition: all 0.4s;
  padding: 15px;
  color: #fff;
  opacity: 0.2;
  font-size: 40px;
}
.arrow a {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
  font-size: 80px;
  padding: 0 0 20px 0;
  opacity: 0.2;
}
.arrow a:hover {
  color: #999;
  font-size: 100px;
  opacity: 0.8;
}
#unten {
  width: 100vw;
  min-width: 100vw !important;
  height: 800px;
  background-color: #999;
}
.main-slider-shape .shape-1 {
  position: absolute;
  left: -99px;
  top: -85px;
  z-index: 1;
  /*animation: moveLeftBounce 3s linear infinite;*/
  animation-name: stretch;
  animation-duration: 2.8s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes stretch {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.5);
  }
}
.main-slider-shape .shape-2 {
  position: absolute;
  top: 10%;
  left: 40%;
  /* animation: rotate3d 4s linear infinite;*/
  z-index: 1;
  -webkit-animation: spinner 15s infinite linear;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.main-slider-shape .shape-3 {
  position: absolute;
  left: 2%;
  bottom: 15%;
  z-index: 1;
  max-width: 60px;
  /*animation: moveScale 3s linear infinite;*/
  animation: animate 5s linear infinite;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}
@keyframes animate {
  100% {
    transform: scale(var(--scale)) rotateY(1turn);
  }
}
.main-slider-shape .shape-4 {
  position: absolute;
  bottom: 15%;
  left: 30%;
  z-index: 1;
}
.main-slider-shape .shape-4 {
  position: absolute;
  bottom: 15%;
  left: 30%;
  z-index: 1;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
    -ms-transform: rotate3d(1, 1, 1, 0deg);
    -o-transform: rotate3d(1, 1, 1, 0deg);
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 1, 180deg);
    -ms-transform: rotate3d(1, 1, 1, 180deg);
    -o-transform: rotate3d(1, 1, 1, 180deg);
    transform: rotate3d(1, 1, 1, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    -ms-transform: rotate3d(1, 1, 1, 360deg);
    -o-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
.bannerimg img {
  animation-duration: 6.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
