.mb-20 {
  margin-bottom: 20px;
}
.mtb-40 {
  margin: 25px 0;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.landing-logo img {
  width: 135px;
  padding: 20px 0px !important;
}
.ftrlogo img{
  width: 170px;
  padding: 20px 0px !important;
}
.footer-icon {
    width: 15px !important;
}
.intro-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.staticSliderCont {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.setbg {
  position: relative;
  width: 100%;
  background: #0f79be;
  padding: 70px 0;

}
.mtt{
  margin-top: 150px;
}
/* .landignsetbg {
  margin: 90px 0 0;
} */
.setbg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  background-image: url("../image/slider/home_banner.png");
  z-index: 0;
}
.slide-text {
  font-size: 20px;
  color: #fff;
  text-align: left;
}
.slide-text .topP {
  font-size: 26px;
  color: #fff !important;
  font-family: "NunitoBold";
  letter-spacing: 0.05em;
  text-transform: inherit;
  /* background-image: linear-gradient(90deg, #72ff78, #ffaa00); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
.formAlign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.slide-text .coDetail {
  color: #fff !important;
  font-family: "PoppinsRegular";
  letter-spacing: 0.05em;
  font-size: 19px;
  text-transform: inherit;
  line-height: 30px;
}
.slide-text h2 {
  font-size: 45px;
  font-family: "PoppinsBold";
  text-transform: capitalize;
  letter-spacing: 0.035em;
  line-height: 55px;
  margin: 0;
  color: #fff;
}
.slide-text h2 {
  font-size: 45px;
  font-family: "PoppinsBold";
  letter-spacing: 0.026em;
  margin: 0;
  color: #fff;
}
.slidex {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: -1;
}
.activx {
  opacity: 1;
}
.slideshow-nav {
  display: none;
  position: absolute;
  bottom: 50%;
  width: 100vw;
  min-width: 100vw !important;
  font-size: 30px;
  background: transparent;
}
.previousx {
  float: left;
}
.nextx {
  float: right;
}

.bg1,
.bg2,
.bg3,
.bg4 {
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center center !important;
  background-size: cover !important;
  /* background:#1f9cbd; */
  background: #0f79be;
  height: 700px;
  min-height: 700px;
  overflow: hidden;
  width: 100vw;
  min-width: 100vw !important;
  position: absolute;
  top: 0;
  left: 0;
}
.bg1::before,
.bg2::before,
.bg3::before,
.bg4::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  background-image: url("../image/slider/home_banner.png");
  z-index: 0;
}
/*
.bg2 {background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/222641/2D6HOGVCGE.jpg");}
.bg3 { background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/222641/BusScene.jpg");}
.bg4 {background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/222641/sun-trees.jpg");}
*/
.slider-center {
  position: absolute;
  height: auto;
  width: 50%;
  left: 50%;
  top: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  letter-spacing: 2px;
}
.hero-main{
   position: absolute;
   width: 90%;
  /* top: 7%; */
  top: 22%;
}

.nav-link {
  transition: all 0.4s;
  padding: 15px;
  color: #fff;
  opacity: 0.2;
  font-size: 40px;
}
.nav-link:hover {
  color: #999;
  font-size: 80px;
  opacity: 0.8;
}

.arrow a {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
  font-size: 80px;
  padding: 0 0 20px 0;
  opacity: 0.2;
}

.arrow a:hover {
  color: #999;
  font-size: 100px;
  opacity: 0.8;
}
.course-metrics {
  /* background-color: #00AFD6; */
  background-color: #0f79be;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 16px;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 4px;
}
.course-metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.divider {
  border-left: 1px solid #caedf5;
}
.metric-heading {
  font-size: 20px;
  font-family: "PoppinsMedium";
  letter-spacing: 0.03em;
}
.metric-sub-heading {
  font-size: 16px;
  font-family: "PoppinsRegular";
  text-transform: capitalize;
  letter-spacing: 0.03em;
}
.course-features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px 5px;
  color: #fff;
}
.gotowebsite span {
  margin: 0 8px 0 0;
}
.typo-pills {
  font-size: 14px;
  line-height: 14px;
  font-family: "PoppinsMedium";
  text-transform: capitalize;
  letter-spacing: 0.03em;
}
.course-features .features {
  background-color: #fff;
  color: #000000;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 40px;
  width: -webkit-max-content;
  width: max-content;
}
.webinar-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ddd;
}
.webinar-text p {
  color: #fff !important;
  font-size: 20px;
  font-family: "PoppinsMedium";
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
.webinar-text img {
  height: 30px;
  width: 40px;
  margin-left: 6px;
}
/*Start Form Screen*/
.form-screen {
  background: #fff;
  min-height: 100%;
  padding: 24px;
  border: 15px solid #15181a;
  width: 435px;
  border-radius: 30px;
  box-shadow: 0 0 12px rgba(255, 234, 180, 0.5);
}
.form-screen .title {
  font-size: 17px;
  font-family: "PoppinsBold";
  color: #000;
  letter-spacing: 0.03em;
  margin: 0 0 20px;
}
.form-screen .talert {
  font-size: 18px;
  font-family: "PoppinsMedium";
  background-image: linear-gradient(90deg, #0f79be, #0f79be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-screen .more {
  font-size: 16px;
  font-family: "PoppinsMedium";
  color: #6a6666;
}
.form-screen .submitbtn {
  background: #0f79be;
  border-color: #0f79be;
  width: 100%;
  font-size: 15px;
  font-family: "PoppinsMedium";
  color: #fff;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 12px 30px;
}
.form-screen .submitbtn:hover {
  background: #043146;
  border-color: #043146;
}

.form-screen input.form-control {
  font-size: 15px;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-screen .form-group label {
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  color: #979797;
  margin: 0 0 2px;
  font-family: "PoppinsRegular";
}
.form-screen .basic-container label {
  font-size: 16px;
  color: #000;
  margin: 10px 0 0;
  font-family: "PoppinsRegular";
}
/*End Form Screen*/
/* Responsive Styles */
/*  Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  /*Slider*/
  .mb-20 {
    margin-bottom: 7px;
  }
  .slide-text .topP {
    font-size: 16px;
  }
  .slide-text h2 {
    font-size: 20px;
    margin: 15px 0;
  }
  .slide-text .coDetail {
    letter-spacing: 0.02em;
    font-size: 14px;
    text-align: justify;
    line-height: 23px;
  }
  .course-features {
    gap: 15px 5px;
  }
  .mtb-40,
  .mb-40 {
    margin: 20px 0;
  }
  .metric-heading {
    font-size: 16px;
  }
  .metric-sub-heading {
    font-size: 11px;
    text-align: center;
  }
  #slide-show {
    height: 100%;
    min-height: 100%;
  }
  .course-metrics {
    gap: 7px;
    padding: 7px;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-content: space-around;
  }
  .setbg {
    padding: 0;
  }
  .mtt{
    margin-top: 70px;
  }
  #slide-show {
    height: 150vh !important;
    min-height: 150vh !important;
    top: 0px;
    padding: 20px 0;
  }
  .formAlign {
    justify-content: center;
    align-items: center;
  }
  .webinar-text p {
    font-size: 14px;
    text-align: center;
    margin: 0 0 11px;
  }
  .form-screen {
    padding: 15px;
    border: 10px solid #15181a;
    border-radius: 10px;
  }
  .form-screen .title {
    font-size: 14px;
    margin: 0 0 10px;
  }
  .form-screen .basic-container label {
    font-size: 11px !important;
  }
  .form-screen .submitbtn {
    font-size: 12px;
    padding: 10px 0;
  }
  .buildText {
    flex-direction: column;
  }
  .section-title h2 {
    line-height: 30px;
    font-size: 20px;
  }
  .features-2 .theme-btn {
    padding: 15px 40px;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: 20px 0 0;
  }
  .placementbox {
    margin: 0 0 25px;
    padding: 20px 12px;
    margin-bottom: 20px;
    min-height: 110px;
    max-height: 110px;
  }
  .slide-text h2 {
    font-size: 35px;
    line-height: 30px;
    margin: 15px 0;
    color: #feb600;
  }
}
